/* Estilos para el cuerpo de la página */
body {
    background-color: #F1F4F8; /* Fondo gris claro */
    color: #000000; /* Color de texto negro */
}


/* Estilos para las celdas del DataGrid */
.custom-data-grid .MuiDataGrid-cell {
    background-color: #ffffff; /* Fondo rojo para las celdas */
}

/* Estilos para el pie de página del DataGrid (opcional) */
.custom-data-grid .MuiDataGrid-footerContainer {
    background-color: #d8d8d8; /* Fondo para el pie de página */
}